body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer{
  width: 100%;
    height: 100vh;
    background: url(/static/media/img1.cbc35a2f.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Georgia", Times, serif;
}

.home-page-container {
  
  position: absolute;
  left: 40%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.table{
  border-radius:6px;
  overflow:hidden;
  max-width:800px; 
  width:100%;
  margin:0 auto;
  position:relative;
}
thead{
  background-color: #BEC1C2;
  font-size: large;
  color: black;
}
body{
  background:#9BC86A; 
  font:400 14px 'Calibri','Arial';
  padding:20px;
}
